* {
    box-sizing: border-box;
    font-family: roboto;
}

body {
    padding: 0;
    margin: 0;
    border: 0;
}

#header {
    box-sizing: border-box;
    background-color: #90A7FA;
    width: 100%;
    height: 80px;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}